####################################################################################################################################
#
# Copyright (C) 2018 Jacques Buitendag (jacques dot buitendag at gmail dot com)
#
####################################################################################################################################
# Default exlustion list for macOS
.DS_Store
