####################################################################################################################################
####################################################################################################################################
# Default exlustion list for macOS
.DS_Store
