####################################################################################################################################
#
# Copyright (C) 2018 Jacques Buitendag (jacques dot buitendag at gmail dot com)
#
####################################################################################################################################
# Ignore patterns for personal system configuration repository
.idea/
